#principal{
   width: 900px;
   height: auto; overflow: hidden;
   border: 0px solid #000;
   margin: auto;
   
}

header{
    width: 900px;
   height: 100px;
   border: 0px solid #c0c0c0;
}

#logo{
   width: 200px;
   height: 100px;
   border: 0px solid #c0c0c0;
   float: left;
}

.titulo{
    margin-top: 10px; 
    font-size: 30px;
}
.sub-titulo{
    font-size: 16px;
    margin-top: -20px;
}
.menu{
   width: 350px;
   height: 50px;
   border: 1px solid #fff;
   float: right;
   margin-top: 40px;
   background: #808080
}

.menu ul{}

.menu ul li{
    
    list-style: none;
    float: left;
    
}
.menu ul li a{
     text-decoration: none;
     padding: 10px 15px;
     border: 1px solid #000;
}
.menu ul li a:hover{
     background: #fff;
     color:#00699
     transistion:  background 1s, color 1s;
}
#slide{
   margin-top: -5px;
   width: 900px;
   height: 250px;

}

#categorias{
   width: 900px;
   height: auto; overflow: hidden;
   border: 0px solid #000;
   margin-top: 16px;
   
  
}

.uno{
   width: 280px;
   height: auto; overflow: hidden;
   border: 1px solid #808080 ;
   float: left;
   padding: 5px;
   text-align: center;
   color: #2f4f4f
}
.parrafo{
    color:#000000;
    text-aling: jstify;
}

.dos{
   margin-left: 12px;
   margin-right: 12px;
}


}
#info{
 width:900px;
 height: auto; overflow: hidden;
 border: 0px solid #c0c0c0;
 margin-top: 10px
}

#izq{
  width: 500px;
  height:  auto; overflow: hidden;
  border: 1px solid #c0c0c0;
  float: left;
  padding: 5px; color:#2f4f4f
}

.imagen{
   margin-right: 7px;
   margin-bottom: 7px;
}

#dere{
    width: 290px;
    height:  300px;
    border: 1px solid #000;
    float: right;

}

footer{
    width: 900px;
    height:  200px;
    text-align: center;

}

#footer p{
     width: 500px
}